.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 8px #2d7686; */
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #4bb6d15d;
  /* border: 2px solid #ffffff; */
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  color: #000000;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: rgb(0, 0, 0);
}

.expense-item__price {
  font-size: 1rem;
  width: 10em;
  text-align: right;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #7ed2f3c7;
  /* border: 1.5px solid rgb(255, 255, 255); */
  /* box-shadow: 1px 0px 4px 0 #2d7686; */
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
